* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
.main {
  display: flex;
  flex-direction: column;
}

.display {

  padding: 1.5em;
  padding-top: 0;
  color: yellow;
  background-color: #c35a5a;
  height: 50vh;
  background-image: url("../images/dark-ribs.jpg");
  background-color: #404040;
 

  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  

}
.display>*,.login>*{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.color {
    margin: 0;
  color: #f18119;
  /* padding-top: 3em; */
  border-top: 10px solid #f18119;
  border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
  margin-bottom: 3px;
}

.first {
  color: #f18119;
  font-size: 1rem;
  letter-spacing: 1px;
}
.second {
  color: white;
  font-size: 2.7rem;
  /* letter-spacing: 1px; */
  max-width: 350px;
  text-align: center;
}
.strong {
  font-weight: bold;
}
.third {
  color: #e7812a;
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-weight: bold;
}
.login {
  /* margin-top: 1em; */
  padding: 1.5em;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.heading {
  margin: 0;
  color: #404040;
  font-weight: bold;
}
.today {
  color: #f1821c;
  font-weight: bold;
  margin-bottom: 1.5em;
  font-size: 1.2rem;
}

.description {
  color: #404040;
}

input,
button {
    font-size: 1.125rem;
  padding: .8em 1.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  text-align: center;
}
.submit {
  padding: 0.8em 6.7em;
  background-color: #e7812a;
}
.privacy {
  font-size: 10px;
  width: 150px;
}
/* media query */

@media (min-width: 500px) {
  html {
    /* font-size: 1.125rem; */
  }
  .main {
    flex-direction: row;
  }
  .display {
    height: 100vh;
    width: 50%;
    justify-content: start;
  }
  .top {
    margin-bottom: 15em;
  }
  .second {
    /* margin-top: 20em; */
  }
  .third {
    margin-top: 0;
  }
  .login {
    margin-top: 0px;
    width: 50%;
    margin: auto;
  }

}
